<div class="container container-home fade-in pb-3">
    <h1 id="welcome">Welcome to</h1>
    <p class="title">Mister Cocktail</p>
    <p> Let your senses be delighted with exquisite cocktail recipes</p>
    <%= link_to 'Begin', cocktails_path, class:"btn btn-success btn-lg" %>
</div>

<script> document.querySelector('body').classList.add("background") </script>
