<div class="text-center p-5">
  <h1>Cocktails </h1>
  <%= link_to "Add", new_cocktail_path %>
</div>
<div class="container bg">
  <div class="row">
    <% @cocktails.each do |c| %>
    <div class="col-sm-6 col-lg-4 my-3">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1542895324-076f3fb6c2cb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80')">
        <%= link_to c.name, cocktail_path(c) %> | <%= link_to 'Edit', edit_cocktail_path(c) %>
      </div>
    </div>
    <% end %>
  </div>
</div>
