body {
  background: linear-gradient(90deg, rgba(7,6,2,1) 10%, rgba(41,24,15,1) 50%, rgba(7,6,2,1) 90%);
  color: rgb(254, 237, 215);
}

a {
  color: rgb(254, 237, 215);
  .cocktail-edit {
    font-size: 16px;
  }
  &:hover {
    color: $orange;
    text-decoration: none;
  }
}

#card-background{
  background-color: rgba(66, 28, 14, 0.3);
  padding-left: 8px;
  padding-right: 8px;
}

#index-title {
  font-size: 150px;
}
