// Specific CSS for your home-page
.background {
  height: 100vh;
  background-image: asset-url('cocktail-home');
  background-size: cover;
  color: rgb(254, 237, 215);
}

// resize for titles mobile and tablet view
@media(max-width: 576px){
  .background {
    height: 80vh;
    background-size: cover;
    background-position: center;
  }
  p.title {
    font-size: 32px;
    top: 33px;
  }
  p {
    font-size: 8px;
  }
  h1#welcome {
    font-size: 13px;
    top: 54px;
    left: -31px;
  }
  .container.container-home {
    margin-top: 20vh;
  }
}

@media(max-width: 1050px) and (min-width: 576px){
  p.title {
    font-size: 100px;
    top: 55px;
  }
  h1#welcome {
    top: 110px;
  }
}

#welcome {
  position: relative;
  top: 155px;
  left: -90px;
  color: rgba(254, 237, 215, 0.6);
}

.title {
  font-family: 'Lovers Quarrel', cursive;
  font-size: 180px;
  color: rgba(203, 119, 72, 0.8);
  text-shadow: 2px 2px rgba(34, 20, 8, 0.6);
  position: relative;
  top: 80px;
}

.container {
  display: flex-inline;
  width: 70%;
  text-align: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

// fadein animation
.fade-in {
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
