// Container for individual cocktail
.container.show-container {
  display: flex;
  width: 38%;
  height: 50vh;
  align-items: center;
  justify-content: space-around;
  margin-top: 25vh;
  padding: 25px;
}

// Styling for ingredients list on individual cocktail page
#cocktail-ingredients {
  list-style: none;
  padding: 10px;
  text-align: justify;
  text-justify: inter-word;
}

// Containers applied to all form page: new, edit and add ingredient
.container.container-form {
  width: 30%;
  margin-top: 10%;
  padding: 5%;
}

// Div to space buttons line evenly in the forms
.buttons-div {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

// cocktail image in the individual cocktail page
.cocktail-img {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
