<h1>Doses#new</h1>

<div class="container">
  <h1>New Ingredient</h1>

  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :description %>
    <%= f.association :ingredient %>

    <%= f.submit class:"btn btn-primary" %>
  <% end %>
</div>
